body {
  font-family: cursive;
  margin: 0px;
  margin-top: 0px;
  color: #003049;
  font-size: 22px;
  text-align: center;
}

input {
  font-family: cursive;
  border: none;
  border-radius: 4px;
  color: #003049;
  font-size: 22px;
}

input:active {
  background-color: aliceblue;
}

input:hover {
  background-color: aliceblue;
}

input:focus {
  outline: none;
}

button {
  font-family: cursive;
  background-color: #003049;
  color: #f77f00;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 6px 10px;
  transition: all 0.3s ease;
}

button:hover {
  color: #003049;
  background-color: #f77f00;
}
